.nav-link:hover{
    background-color: black;
    color: aliceblue!important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.banner{
    height: 100vh;
}
ul li:hover{
    background-color: black;
    color: aliceblue!important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}